extend layout

block contentTasks
	.mainContainer
		h2 #{ title } : #{ tasks.length }
		form(action='/tasks', method='post')
			div.addTask
				a.completeAll.btn.btn-primary(href='/completeAll') Complete all
				input(type="text" name="task")
				button.btn.btn-primary(type='submit') ADD TASK
		each task, i in tasks
			div.addTask
				a.done.btn.btn-success(href='/tasks/#{ task._id }') Done
				span #{ task._id }. #{ task.task } - (Created at: #{ task.taskDate })
				a.delete.btn.btn-danger(href='/tasks/#{ task._id }')
					span.glyphicon.glyphicon-trash(aria-hidden="true")